In [1]:
import bs4
import requests
from bs4 import BeautifulSoup
import pandas as pd

Solution 1

In [2]:
page = requests.get("https://en.wikipedia.org/wiki/Main_Page")

In [3]:
soup=BeautifulSoup(page.content)

header_tags = []

for header in soup.find_all(["h1","h2","h3","h4","h5","h6"]):
    header_tags.append(header.name+" "+header.text.strip())
header_tags

['h1 Main Page',
 'h1 Welcome to Wikipedia',
 "h2 From today's featured article",
 'h2 Did you know\xa0...',
 'h2 In the news',
 'h2 On this day',
 "h2 Today's featured picture",
 'h2 Other areas of Wikipedia',
 "h2 Wikipedia's sister projects",
 'h2 Wikipedia languages',
 'h2 Navigation menu',
 'h3 Search']

Solution 2

In [4]:
page2 = requests.get('https://www.imdb.com/list/ls091520106/')

In [5]:
soup2 = BeautifulSoup(page2.content)

In [6]:
name = soup2.find_all("h3", class_="lister-item-header")
movies_name = [] 
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)

In [7]:
year = soup2.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = [] 
for k in year:
    year_of_release.append(k.text)

In [8]:
rating = soup2.find_all("div",class_="ipl-rating-star small")

IMDB_rating = []

for i in rating:
      IMDB_rating.append(float(i.text))

In [9]:
df2 = pd.DataFrame({'Movie Name':movies_name, 'Year':year_of_release, 'Rating':IMDB_rating})
df2

                             Movie Name    Year  Rating
0              The Shawshank Redemption  (1994)     9.3
1                         The Godfather  (1972)     9.2
2                The Godfather: Part II  (1974)     9.0
3                       The Dark Knight  (2008)     9.1
4                          12 Angry Men  (1957)     9.0
..                                  ...     ...     ...
95                   North by Northwest  (1959)     8.3
96                   A Clockwork Orange  (1971)     8.3
97                               Snatch  (2000)     8.3
98  Le fabuleux destin d'Amélie Poulain  (2001)     8.3
99                              The Kid  (1921)     8.3

[100 rows x 3 columns]

Solution 3

In [10]:
page3 = requests.get('https://www.imdb.com/list/ls009997493/')

In [11]:
soup3 = BeautifulSoup(page3.content)

In [12]:
name = soup3.find_all("h3", class_="lister-item-header")
movies_name = []
for i in name:
    for j in i.find_all("a"):
        movies_name.append(j.text)

In [13]:
year = soup3.find_all("span",class_="lister-item-year text-muted unbold")
year_of_release = []
for k in year:
    year_of_release.append(k.text)

In [14]:
rating = soup3.find_all("div",class_="ipl-rating-star small")
IMDB_rating = []
for i in rating:
      IMDB_rating.append(float(i.text))

In [15]:
df3 = pd.DataFrame({'Movie Name':movies_name, 'Year':year_of_release, 'Rating':IMDB_rating})
df3

                Movie Name    Year  Rating
0          Rang De Basanti  (2006)     8.1
1                 3 Idiots  (2009)     8.5
2         Taare Zameen Par  (2007)     8.4
3           Dil Chahta Hai  (2001)     8.1
4   Swades: We, the People  (2004)     8.3
..                     ...     ...     ...
95             Wake Up Sid  (2009)     7.6
96                Rangeela  (1995)     7.4
97     Shatranj Ke Khilari  (1977)     7.5
98      Pyaar Ka Punchnama  (2011)     7.7
99           Ek Hasina Thi  (2004)     7.5

[100 rows x 3 columns]

Solution 4

In [2]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

url='https://meesho.com/bags-ladies/pl/p7vbp'
page=requests.get(url)
soup=BeautifulSoup(page.content)
product_name=[]
for i in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS"):
    product_name.append(i.text)
    
#product_name
prices=[]
for j in soup.find_all('h5', class_="Text__StyledText-sc-oo0kvp-0 hiHdyy"):
    prices.append(j.text)
    
#prices
discount_prices=[]
for k in soup.find_all('p', class_="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm"):
    discount_prices.append(k.text)
#discount_prices


df=pd.DataFrame({'product Name': product_name, 'Price' :prices, 'Discount Prices': discount_prices})
df

Empty DataFrame
Columns: [product Name, Price, Discount Prices]
Index: []

Solution 5

In [3]:
page5 = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [29]:
soup5 = BeautifulSoup(page5.content)

In [30]:
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)

In [31]:
matches = []
points = []
ratings = []
new_list = []

In [32]:
for i in soup5.find_all("td",class_='rankings-block__banner--matches'):
    matches.append(i.text)

In [33]:
for i in soup5.find_all("td",class_='rankings-block__banner--points'):
    points.append(i.text)

In [34]:
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    ratings.append(i.text.replace("\n",""))

In [35]:
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):
    new_list.append(i.text)

In [36]:
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i])
    points.append(new_list[i+1])

In [37]:
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):
    ratings.append(i.text)

In [38]:
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

,Team_name,Matches,Points,Ratings
0,New Zealand,18,"2,185",121 ...
1,England,32,"3,793",119
2,Australia,29,"3,387",117
3,India,38,"4,162",110
4,South Africa,31,"3,167",102
5,Bangladesh,36,"3,350",93
6,Pakistan,28,"2,590",93
7,Sri Lanka,35,"2,835",81
8,West Indies,36,"2,788",77
9,Afghanistan,23,"1,562",68

In [39]:
page6 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

In [40]:
soup6 = BeautifulSoup(page6.content)

In [41]:
players = []
team_name = []
rating = []

In [42]:
for i in soup6.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
for i in soup6.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))
for i in soup6.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup6.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup6.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

In [43]:
Batsmen=pd.DataFrame({})
Batsmen['Player']=players[:10]
Batsmen['Team']=team_name[:10]
Batsmen['Rating']=rating[:10]
Batsmen

                  Player                     Team Rating
0             Babar Azam  PAK                        872
1            Virat Kohli                      IND    811
2            Ross Taylor                       NZ    794
3           Rohit Sharma                      IND    791
4        Quinton de Kock                       SA    789
5         Jonny Bairstow                      ENG    775
6            Aaron Finch                      AUS    771
7  Rassie van der Dussen                       SA    769
8           David Warner                      AUS    758
9            Imam-ul-Haq                      PAK    746

In [44]:
page7 = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

In [45]:
soup7 = BeautifulSoup(page7.content)

In [46]:
players = [] 
team_name = []  
rating = []

In [47]:
for i in soup7.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
for i in soup7.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))
for i in soup7.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup7.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup7.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

In [48]:
bowlers=pd.DataFrame({})
bowlers['Player']=players[:10]
bowlers['Team']=team_name[:10]
bowlers['Rating']=rating[:10]
bowlers

             Player                    Team Rating
0       Trent Boult  NZ                        733
1    Josh Hazlewood                     AUS    705
2      Chris Woakes                     ENG    700
3        Matt Henry                      NZ    687
4  Mujeeb Ur Rahman                     AFG    681
5    Jasprit Bumrah                     IND    679
6      Mehedi Hasan                     BAN    661
7   Shakib Al Hasan                     BAN    657
8        Adam Zampa                     AUS    650
9       Rashid Khan                     AFG    650

Solution 6

In [49]:
page8 = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

In [50]:
soup8 = BeautifulSoup(page8.content)

In [51]:
womens_team = soup8.find_all("span",class_='u-hide-phablet')
womens_team_name = []
for i in womens_team:
    womens_team_name.append(i.text)
womens_matches = []
womens_points = []
womens_ratings = []
womens_new_list = []

In [52]:
for i in soup8.find_all("td",class_='rankings-block__banner--matches'):
    womens_matches.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--points'):
    womens_points.append(i.text)
for i in soup8.find_all("td",class_='rankings-block__banner--rating u-text-right'):
    womens_ratings.append(i.text.replace("\n",""))
for i in soup8.find_all("td",class_='table-body__cell u-center-text'):
    womens_new_list.append(i.text)
for i in range(0,len(womens_new_list)-1,2):
    womens_matches.append(womens_new_list[i])
    womens_points.append(womens_new_list[i+1])
for i in soup8.find_all("td",class_='table-body__cell u-text-right rating'):
    womens_ratings.append(i.text)

In [53]:
womens_icc=pd.DataFrame({})
womens_icc['Team_name']=womens_team_name[:10]
womens_icc['Matches']=womens_matches[:10]
womens_icc['Points']=womens_points[:10]
womens_icc['Ratings']=womens_ratings[:10]
womens_icc

,Team_name,Matches,Points,Ratings
0,Australia,27,"4,487",166 ...
1,South Africa,27,"3,438",127
2,England,28,"3,248",116
3,India,29,"2,890",100
4,New Zealand,31,"3,018",97
5,West Indies,27,"2,399",89
6,Bangladesh,12,935,78
7,Pakistan,26,"1,753",67
8,Ireland,5,240,48
9,Sri Lanka,5,233,47

In [54]:
page9 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

In [55]:
soup9 = BeautifulSoup(page9.content)

In [56]:
players = []
team_name = []
rating = []

In [57]:
for i in soup9.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
for i in soup9.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))
for i in soup9.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup9.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup9.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

In [58]:
top_players=pd.DataFrame({})
top_players['Player']=players[:10]
top_players['Team']=team_name[:10]
top_players['Rating']=rating[:10]
top_players

              Player                    Team Rating
0    Laura Wolvaardt  SA                        740
1        Beth Mooney                     AUS    726
2        Meg Lanning                     AUS    718
3     Natalie Sciver                     ENG    705
4       Alyssa Healy                     AUS    703
5        Mithali Raj                     IND    686
6     Rachael Haynes                     AUS    684
7     Tammy Beaumont                     ENG    682
8  Amy Satterthwaite                      NZ    681
9    Smriti Mandhana                     IND    669

In [59]:
page10 = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

In [60]:
soup10 = BeautifulSoup(page10.content)

In [61]:
players = []
team_name = []
rating = []

In [62]:
for i in soup10.find_all("div",class_='rankings-block__banner--name-large'):
    players.append(i.text)
for i in soup10.find_all("div",class_='rankings-block__banner--nationality'):
    team_name.append(i.text.replace("\n",""))
for i in soup10.find_all("div",class_='rankings-block__banner--rating'):
    rating.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rankings-table__name name'):
    for j in i.find_all('a'):
        players.append(j.text)
for i in soup10.find_all("span",class_='table-body__logo-text'):
    team_name.append(i.text)
for i in soup10.find_all("td",class_='table-body__cell rating'):
    rating.append(i.text)

In [63]:
all_rounder=pd.DataFrame({})
all_rounder['Player']=players[:10]
all_rounder['Team']=team_name[:10]
all_rounder['Rating']=rating[:10]
all_rounder

             Player                     Team Rating
0      Ellyse Perry  AUS                        404
1    Natalie Sciver                      ENG    376
2    Marizanne Kapp                       SA    359
3   Hayley Matthews                       WI    340
4       Amelia Kerr                       NZ    335
5  Ashleigh Gardner                      AUS    278
6     Deepti Sharma                      IND    249
7     Jess Jonassen                      AUS    246
8   Katherine Brunt                      ENG    239
9    Jhulan Goswami                      IND    217

Solution 7

In [64]:
page = requests.get('https://coreyms.com/')

In [65]:
soup = BeautifulSoup(page.content)

In [66]:
heading = []

In [67]:
for i in soup.find_all('h2',class_="entry-title"):
    heading.append(i.text)

In [68]:
date = []

In [69]:
for i in soup.find_all('time',class_="entry-time"):
    date.append(i.text)

In [70]:
content = []

In [71]:
for i in soup.find_all('div',class_="entry-content"):
    content.append(i.text)

In [72]:
df = pd.DataFrame({'Heading':heading, 'Date':date, 'Content':content})
df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","\nIn this video, we will be learning how to cr..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","\nIn this Python Programming video, we will be..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","\nIn this Python Programming video, we will be..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","\nIn this Python Programming video, we will be..."
4,Update (2019-09-03),"September 3, 2019",\nHey everyone. I wanted to give you an update...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","\nIn this Python Programming Tutorial, we will..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","\nIn this Python Programming Tutorial, we will..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","\nIn this Python Programming Tutorial, we will..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","\nIn this Python Programming Tutorial, we will..."

Solution 9

In [73]:
page = requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')

In [74]:
soup = BeautifulSoup(page.content)

In [75]:
name = []
for i in soup.find_all('a',class_="restnt-name ellipsis"):
    name.append(i.text)

In [76]:
pricecuisine = []
for i in soup.find_all('span',class_="double-line-ellipsis"):
    pricecuisine.append(i.text)

In [77]:
location = []
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)

In [78]:
rating = []
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rating.append(i.text)

In [80]:
imageurl = []
for i in soup.find_all('img',class_="no-img"):
    imageurl.append(i['data-src'])

In [81]:
df = pd.DataFrame({'Name':name, 'Price and Cuisine':pricecuisine, 'Location':location, 'Rating':rating, 'Image URL':imageurl})
df

,Name,Price and Cuisine,Location,Rating,Image URL
0,Castle Barbeque,"₹ 2,000 for 2 (approx) | North Indian, Chinese","Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,"₹ 1,400 for 2 (approx) | North Indian, Asian, ...","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,"₹ 2,000 for 2 (approx) | Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,"₹ 3,000 for 2 (approx) | Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,"₹ 1,700 for 2 (approx) | North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,"₹ 2,400 for 2 (approx) | North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,"₹ 1,800 for 2 (approx) | North Indian","Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,"₹ 1,900 for 2 (approx) | North Indian, Chinese","Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,"₹ 1,800 for 2 (approx) | North Indian, Chinese...","Vibe by The Lalit Traveller,Sector 35, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,"₹ 2,000 for 2 (approx) | North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,₹ 800 for 2 (approx) | North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,"₹ 1,500 for 2 (approx) | North Indian, Mughlai...","NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,"₹ 3,400 for 2 (approx) | European, Italian, As...","DoubleTree By Hilton Gurugram Baani Square,Sec...",4,https://im1.dineout.co.in/images/uploads/resta...

Solution 8

In [6]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

url='https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMy4wNjk4MjgxLCJsb24iOjc3LjU4OTYwNTQ5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSnowVW1UU0lZcmpzUm1CRFhNMnZXS3pzIiwicGxhY2VOYW1lIjoiSW5kcmEgTmFnYXIiLCJzaG93TWFwIjpmYWxzZX0seyJsYXQiOjEyLjkzMDc3MzUsImxvbiI6NzcuNTgzODMwMiwicGxhY2VJZCI6IkNoSUoyZGRsWjVnVnJqc1JoMUJPQWFmLW9ycyIsInBsYWNlTmFtZSI6IkpheWFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9XQ=='
page=requests.get(url)
soup=BeautifulSoup(page.content)

House_title=[]
for i in soup.find_all('div', class_="nb__jvFlz"):
    House_title.append(i.text)
#House_title
area=[]
for i in soup.find_all('div', class_="nb__FfHqA"):
    area.append(i.text)
area

emi=[]
for i in soup.find_all('div', class_="nb__2Awq2"):
    emi.append(i.text)
emi
price=[]
for i in soup.find_all('div', class_="nb__4L90a"):
    price.append(i.text)

price

[]

Solution 10

In [9]:
import requests
from bs4 import BeautifulSoup 
import pandas as pd

In [8]:
page = requests.get("https://www.bewakoof.com/women-tshirts?ga_q=tshirts")

In [10]:
soup=BeautifulSoup(page.content)

In [13]:
# scraping the product name

In [12]:
product_name = [] # creating empty list

In [14]:
for i in soup.find_all('div',class_="productCardDetail")[:10]: 

    product_name.append(i.text)

In [15]:
price=[]
for k in soup.find_all('span',class_="actualPriceText")[:10]:
    price.append(k.text)
#product_name

In [19]:
price

image_url = []

In [21]:
for i in soup.find_all('img',class_="productImgTag")[:10]: 
    image_url.append(i.get('src'))  
df=pd.DataFrame({'product Name': product_name, 'Image URL': image_url})
df

Empty DataFrame
Columns: [product Name, Image URL]
Index: []